<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello, I am Jitender Rathor;
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium architecto eos voluptas vitae similique, odit distinctio aspernatur ab perspiciatis nobis. Quis laboriosam mollitia officiis officia doloremque eius expedita possimus?</p>
</body>
</html>